
<div class="h-screen flex justify-center items-center">
  <div class="flex flex-col items-center">
    {% if section.settings.image %}
      <img  class="shadow-xl h-48 w-48 mb-4" src="{{ section.settings.image | img_url: 'master' }}" alt="404 image">
    {% endif %}
    <h1 class="text-2xl font-bold">{{ section.settings.heading | escape }}</h1>
    <p class="text-center text-gray-600 my-4">{{ section.settings.description | escape }}</p>
    <a class="text-white bg-black px-4 py-2 shadow-lg" href="{{ section.settings.link }}">{{ section.settings.button_text }}</a>

  </div>

</div>

{% schema %}
{
  "name": "404 Main",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Page not found"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Discription",
      "default": "Sorry, the page you were looking for doesn't exist. You can always return to the homepage."
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "default": "/"
    },

    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Back to Home"
    }
    
    ],
    "blocks": [


    ]
}
{% endschema %}